/* ======== CORES ======== */
:root {
  --azul-escuro: #002356;
  --amarelo: #ffcc00;
  --branco: #ffffff;
  --cinza: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: var(--branco);
  color: var(--azul-escuro);
  line-height: 1.6;
}

/* ======== HEADER ======== */
header {
  background: var(--azul-escuro);
  color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

header {
  height: 100px;
  font-weight: bold;
}

.logo {
  margin-top: 20px;
  height: 40px; /* ajusta a altura */
  width: auto; /* mantém a proporção */
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

nav ul li a {
  color: var(--branco);
  text-decoration: none;
  font-weight: 500;
}

.btn-header {
  background: var(--amarelo);
  color: var(--branco);
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-weight: bold;
}

.btn-header:hover{
  color: var(--azul-escuro);
}
